@import url('font.css');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background: linear-gradient(160deg, navy, rgb(126, 78, 221))
}

.form{
    width: 19em;
    height: 80%;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column; 
}

.form .form-title{
    width: 100%;
    height: 20%;
    color: black;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.form form{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.form .username{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30px;
    background-color: rgb(212, 212, 212);
    border: none;
    padding: 10px 10px 10px 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6'/%3E%3C/svg%3E"); 

    background-repeat: no-repeat;
    background-position: 10px center;
}

.form::placeholder{
    width: 100%;
    padding-left: 20px;

}

.form .password{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30px;
    background-color: rgb(212, 212, 212);
    border: none;
    padding: 10px 10px 10px 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-key-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px center;
}


.form .login{
    width: 87%;
    background: navy;
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 15px 10px;
    border: none;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
}

.form .sign-up{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 0.7em;
    margin-bottom: 10px;
}

.form .secret{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30px;
    background-color: rgb(212, 212, 212);
    border: none;
    padding: 10px 10px 10px 40px;

    background-repeat: no-repeat;
    background-position: 10px center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-exclamation-lg' viewBox='0 0 16 16'%3E%3Cpath d='M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0'/%3E%3C/svg%3E"); 
}